.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: rgba(0, 0, 0, 0.5); */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 1000;
  padding-top: 60px;
}

.form-container {
  background: linear-gradient(to bottom left, #7CD96E, #60DFD4);
  padding: 20px;
  border-radius: 10px;
  max-width: 800px;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-container form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.form-group {
  flex: 1;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
}

.form-group:last-child {
  margin-right: 0;
}

.form-label {
  color: #fff;
  font-weight: bold;
}

.form-control {
  margin-bottom: 15px;
  flex: 1;
}

.form-button {
  background-color: #fff;
  color: #7CD96E;
  border: none;
  font-weight: bold;
  height: 38px;
  align-self: flex-end;
  margin-top: 0;
  padding-top: 5px;
  padding-bottom: 5px;
}

.form-button:hover {
  background-color: #60DFD4;
  color: #fff;
}

@media (min-width: 768px) {
  .form-container form {
    flex-direction: row;
  }

  .form-group {
    margin-bottom: 0;
  }

  .form-control {
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .form-container form {
    flex-direction: column;
  }

  .form-group {
    width: 100%;
    margin-right: 0;
  }

  .form-button {
    width: 100%;
    margin-top: 15px;
  }
}